---
import '../styles/global.css'; // 确保引入全局样式
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description}>
</head>
<body class="bg-background text-text">
  <slot />
</body>
</html>